*
{
    margin: 0;
}

body
{
    text-align: center;
    /*background-image: url("https://images.unsplash.com/photo-1517232115160-ff93364542dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80"); !*poker chip background*!*/
    background-image: url("https://images.unsplash.com/photo-1552749412-02bd58bcff5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
}
.container {
height: 60em;
position: relative;
}

.rowCont {
    position: absolute;
    /* background-color: #fff; */
    bottom: 5em;
}
.navBar
{
    background-color: hsla(106, 41%, 25%, .8);
    height: 6em;
    border: 0.2em solid;
}

.logo
{
    width: 3em;
    height: 3em;
    float: left;
    margin-left: .75em;
    margin-top: .75em;
}

.title
{
    text-shadow: .03em .03em #f2d57e;
    font-size: 3rem;
    color: #000000;
    font-family: 'Sofia', cursive;
}

.navItems
{
    list-style-type: none;
    font-size: 0.8rem;
}

.navItems li
{
    text-shadow: .03em .03em #000000;
    display: inline;
    color: #f2d57e;
}

.welcomeMsg
{
    background-color: hsla(45, 82%, 72%, 0.6);
    color: #000000;
    border-width: 0 .2em .2em .2em;
    border-style: solid;
    margin-bottom: 1em;
}


/*
Board layout and buttons
================================================================
 */
.americanBoard
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    position: relative;
    /* z-index: 1; */
}

.btn{
    width: 5em;
    height: 2.5em;
    margin-bottom:.3em;
    color: white;
}
.col1 {
    right: .95em;
    top: 9.75em;
}

.col2{
    right: 1.3em;
    top: 9.75em;
}

.col3 {
    right: 1.65em;
    top: 9.75em;
}
.redBtn{
    background-color:red;
}

.blackBtn {
    background-color:black;
}





/*.button:active {*/
/*    background-color: #3e8e41;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/
