* {
    margin: 0;
}

body {
    text-align: center;
    /*background-image: url("https://images.unsplash.com/photo-1517232115160-ff93364542dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80"); !*poker chip background*!*/
    background-image: url("https://images.unsplash.com/photo-1552749412-02bd58bcff5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Fixes mobile layout*/
@media (max-width: 20rem) {
    body {
        margin-right: -1em;
    }
}

.navBar {
    background-color: hsla(106, 41%, 25%, .8);
    height: 5em;
    border: 0.2em solid;
}

.logo {
    width: 3em;
    height: 3em;
    float: left;
    margin-left: .75em;
    margin-top: .75em;
}

.title {
    text-shadow: .03em .03em #f2d57e;
    font-size: 2.5rem;
    color: #000000;
    font-family: 'Sofia', cursive;
}

.navItems {
    list-style-type: none;
    font-size: 0.8rem;
}

.navItems li {
    text-shadow: .03em .03em #000000;
    display: inline;
    color: #f2d57e;
}

.welcomeMsg {
    background-color: hsla(45, 82%, 72%, 0.6);
    color: #000000;
    border-width: 0 .2em .2em .2em;
    border-style: solid;
    margin-bottom: 1em;
}


/*
Board layout and buttons
================================================================
 */
.americanBoard {
    display: inline-block;
    position: relative;
    opacity: 100;
}

.board {
    display: inline-block;
    /*background-color: #999999;*/
}

.greenBets{
    height: 0;
}
.greenBets button {
    height: 1.5em;
    width: 4.8em;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #315925;
    border-radius: 5px;
    opacity: 100;
    border: #999999 solid;
    display: block;
    position: relative;
}
.button0{
    bottom: 23.1em;
    left: 12.9em;
}
.button00{
    bottom: 24.6em;
    left: 17.7em;
}

.greenBets button:hover {
    background-color: #00ff1a
}

.redBets{
    /*background-color: red;*/
}

.redBets button {
    height: 1.6em;
    width: 3.2em;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff; /*Color match red*/
    background-color: #a61103;
    border-radius: 5px;
    opacity: 100;
    border: #999999 solid;
    display: inline-block;
    position: relative;
}

.button1 {
    bottom: 21.53em;
    left: 12.25em;
}
.button3{
    bottom: 21.53em;
    left: 15.2em;
}
.redBets button:hover {
    background-color: red
}

.blackBets{
    /*background-color: #00ff1a;*/
}
.blackBets button {
    height: 1.6em;
    width: 3.2em;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff; /*Color match red*/
    background-color: #000000;
    border-radius: 5px;
    opacity: 100;
    border: #999999 solid;
    display: inline-block;
    position: relative;
}


.blackBets button:hover {
    background-color: #999999
}


/*
Chips
=====================================================================
 */
.chip {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
    position: relative;
}

.chip1 {
    border-radius: 50%;
    cursor: pointer;
}

.moneyTracker{
    position: relative;
    left: 18em;
    bottom: 45em;
}


/*.button:active {*/
/*    background-color: #3e8e41;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/
