*
{
    margin: 0;
}

body
{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1517232115160-ff93364542dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80");
    background-size: 100%;
}

@media (max-width: 20rem) {
    body{
        margin-right: -1em;
    }
}

.navBar
{
    background-color: hsla(106, 41%, 25%, .9);
    height: 5em;
}

.logo
{
    width: 3em;
    height: 3em;
    float: left;
    margin-left: .75em;
    margin-top: .75em;
}

.title
{
    text-shadow: .03em .03em #f2d57e;
    font-size: 3rem;
    color: #000000;
}

.navItems
{

    list-style-type: none;
}

.navItems li
{
    text-shadow: .03em .03em #000000;
    display: inline;
    color: #f2d57e;
}

.welcomeMsg
{
    background-color: hsla(45, 82%, 72%, 0.3);
    color: #000000;
    font-weight: bold;
}

.americanBoard
{

}